In [21]:
import pandas as pd

In [22]:
url = "https://en.wikipedia.org/wiki/List_of_action_films_of_the_2020s"

In [23]:
data = pd.read_html(url)

In [24]:
df1 = data[1]
df1.shape

(66, 5)

In [25]:
df2 = data[2]
df2.shape

(60, 7)

In [26]:
df3 = data[3]
df3.shape

(33, 7)

In [28]:
final_data = pd.concat([df1, df2, df3], axis=0, join='outer')

In [29]:
final_data

,Title,Director,Cast,Country,Subgenre/notes,Unnamed: 5,Unnamed: 6
0,7500,Patrick Vollrath,"Joseph Gordon-Levitt, Aylin Tezel","Germany, Austria, United States",Action thriller[1],NaN,NaN
1,Ala Vaikunthapurramuloo,Trivikram Srinivas,"Allu Arjun, Pooja Hegde",India,Action drama[2],NaN,NaN
2,Archenemy,Adam Egypt Mortimer,"Joe Manganiello, Skylan Brooks, Zolee Griggs, ...","United States, United Kingdom","Superhero, mystery, thriller[3]",NaN,NaN
3,Asuraguru,A.Raajdheep,"Vikram Prabhu, Mahima Nambiar, Subbaraju, Yogi...",India,Action thriller[4],NaN,NaN
4,Aswathama,Ramana Teja,"Naga Shourya, Mehreen Pirzada",India,Action thriller[5],NaN,NaN
...,...,...,...,...,...,...,...
28,Thor: Love and Thunder,Taika Waititi,"Chris Hemsworth, Tessa Thompson, Natalie Portm...",United States,"Superhero, action, fantasy[146]",NaN,NaN
29,Top Gun: Maverick,Joseph Kosinski,"Tom Cruise, Miles Teller, Jennifer Connelly, J...",United States,"Action, drama[147]",NaN,NaN
30,Uncharted,Ruben Fleischer,"Tom Holland, Mark Wahlberg, Antonio Banderas, ...",United States,Action adventure[148],NaN,NaN
31,Vikrant Rona,Anup Bhandari,"Sudeepa, Milana Nagaraj, Nirup Bhandari, Neeth...",India,Action thriller[149],NaN,NaN
32,Violent Night,Tommy Wirkola,"David Harbour, John Leguizamo, Beverly D'Angel...",United States,Holiday action thriller[150],NaN,NaN