In [15]:
import pandas as pd

In [21]:
nomi = ['Alket', 'Simone', 'Francesco', 'Paolo', 'Anna', 'Aurora']
score = [200,     300,      150,        250, 300, 400]
genre = ['male', 'male', 'male', 'male', 'female', 'female']

In [22]:
giochi = {"nome":nomi, "punti": score, 'sex':genre}

In [23]:
giochi["nome"]

['Alket', 'Simone', 'Francesco', 'Paolo', 'Anna', 'Aurora']

In [24]:
dati = pd.DataFrame(giochi)

In [32]:
type(dati)

pandas.core.frame.DataFrame

In [25]:
dati

        nome  punti     sex
0      Alket    200    male
1     Simone    300    male
2  Francesco    150    male
3      Paolo    250    male
4       Anna    300  female
5     Aurora    400  female

In [30]:
s = dati['punti']

In [31]:
type(s)

pandas.core.series.Series

In [33]:
dati.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    6 non-null      object
 1   punti   6 non-null      int64
 2   sex     6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [34]:
dati.describe()

            punti
count    6.000000
mean   266.666667
std     87.559504
min    150.000000
25%    212.500000
50%    275.000000
75%    300.000000
max    400.000000