In [15]:
import json
import pandas as pd

In [16]:
data = pd.read_json('example_2.json')

In [17]:
data

                                                    quiz
sport  {'q1': {'question': 'Which one is correct team...
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...

In [20]:
data = data.reset_index()
data

   index                                               quiz
0  sport  {'q1': {'question': 'Which one is correct team...
1  maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...

In [23]:
d1 = data.quiz[0]

In [24]:
type(d1)

dict