In [3]:
import pandas as pd

In [4]:
nomi = ['Alket', 'Simone', 'Francesco', 'Paolo']
score = [200,     300,      150,        250]

In [10]:
giochi = {"nome":nomi, "punti": score}

In [11]:
giochi["nome"]

['Alket', 'Simone', 'Francesco', 'Paolo']

In [13]:
dati = pd.DataFrame(giochi)

In [14]:
dati

        nome  punti
0      Alket    200
1     Simone    300
2  Francesco    150
3      Paolo    250